.project-list div {
  margin: 0 auto;
  text-align: center;
}

.project-list h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.credo {
  display: block;
  margin: 20px auto;
  background-color: #dfebee;
  width: 900px;
  height: 300px;
  position: relative;
}

.credo-image {
  width: 350px;
  position: absolute;
  left: 60px;
  bottom: 45px;
}

.credo-text {
  width: 380px;
  position: absolute;
  right: 90px;
  top: 110px;
  color: black;
}

.elf {
  display: block;
  margin: 20px auto;
  background-color: #f1dbe4;
  width: 900px;
  height: 300px;
  position: relative;
}

.elf-image {
  width: 270px;
  position: absolute;
  right: 90px;
  bottom: 0px;
}

.elf-text {
  width: 380px;
  position: absolute;
  left: 90px;
  top: 110px;
  color: black;
}

.tama {
  display: block;
  margin: 20px auto;
  background-color: #f5e4d9;
  width: 900px;
  height: 300px;
  position: relative;
}

.tama-image {
  width: 270px;
  position: absolute;
  left: 90px;
  bottom: 0px;
}

.tama-text {
  width: 380px;
  position: absolute;
  right: 90px;
  top: 110px;
  color: black;
}

.clayton-blog {
  display: block;
  margin: 20px auto;
  background-color: #c4d3df;
  width: 900px;
  height: 300px;
  position: relative;
}

.clayton-blog-image1 {
  width: 250px;
  position: absolute;
  right: 200px;
  bottom: 0px;
}

.clayton-blog-image2 {
  width: 250px;
  position: absolute;
  right: 90px;
  bottom: 0px;
}

.clayton-blog-text {
  width: 300px;
  position: absolute;
  left: 90px;
  top: 110px;
  color: black;
}

.clayton-mobile {
  display: block;
  margin: 20px auto;
  background-color: #ecd2d0;
  width: 900px;
  height: 300px;
  position: relative;
}

.clayton-mobile-image {
  width: 210px;
  position: absolute;
  left: 120px;
  bottom: 0px;
}

.clayton-mobile-text {
  width: 370px;
  position: absolute;
  right: 110px;
  top: 110px;
  color: black;
}
