.title  {
 text-align: center;
 margin-top: 100px;
}

.subtitle{
  margin-top: 30px;
  margin-bottom: 30px;
}

.etsy-link {
  color: #f34945;
}

.images {
  max-width: 970px;
  margin: 0 auto;
}

.koi-enso {
	width: 900px;
	margin: 0px auto;
}
.koi-enso img {
	width: 900px;
	text-align: center;
}

.watercolor-helmet {
	width: 900px;
	margin: 0 auto;
}

.watercolor-helmet img {
	width: 400px;
}

.ink-face {
	width: 900px;
	margin: 0 auto;
}

.ink-face img {
	width: 400px;
}

.malaysian-house {
	width: 900px;
	margin: 0 auto;
}

.malaysian-house img {
	width: 400px;
}

.japanese-women {
	width: 900px:
	margin 0px auto;
}

.japanese-women img {
	width: 400px;
}

.ocean-life {
	width: 900px;
	margin: 0px auto;
}

.ocean-life img {
	width: 400px;
}




