.title  {
 text-align: center;
 margin-top: 100px;
}

.subtitle{
  margin-top: 30px;
  margin-bottom: 30px;
}

.etsy-link {
  color: #f34945;
}

.images {
  max-width: 970px;
  margin: 0 auto;
}

.koi-enso {
	width: 900px;
	margin: 0px auto;
}
.koi-enso img {
	width: 900px;
	text-align: center;
}

.watercolor-helmet {
	width: 900px;
	margin: 0 auto;
}

.watercolor-helmet img {
	width: 400px;
}

.ink-face {
	width: 900px;
	margin: 0 auto;
}

.ink-face img {
	width: 400px;
}

.eiffel-tower {
	width: 900px;
	margin: 0 auto;
}

.eiffel-tower img {
	width: 400px;
}

.malaysian-house {
	width: 900px;
	margin: 0 auto;
}

.malaysian-house img {
	width: 400px;
}

.japanese-women {
	width: 900px:
	margin 0px auto;
}

.japanese-women img {
	width: 400px;
}

.breathe {
	width: 900px:
	margin 0px auto;	
}

.breathe img {
	width: 400px;
}

.leaves {
	width: 900px;
	margin: 0 auto;
}

.leaves img {
	width: 900px;
}

.ocean-life {
	width: 900px;
	margin: 0px auto;
}

.ocean-life img {
	width: 400px;
}

.brooklyn {
	width: 900px;
	margin: 0 auto;
}

.brooklyn img {
	width: 400px;
}

.fish-comic {
	width: 900px;
	margin: 0 auto;
}

.fish-comic img {
	width: 900px;
}

.hope {
	width: 900px;
	margin: 0 auto;
}

.hope img {
	width: 400px;
}



