.title  {
 text-align: center;
 margin-top: 100px;
}

.subtitle{
  margin-top: 30px;
  margin-bottom: 30px;
}

.etsy-link {
  color: #f34945;
}

.images {
  max-width: 1000px;
  margin: 0 auto;
}


.koi-enso{
  display: block;
  margin-top: 200px;
  margin-bottom: 20px;
  width: 900px;
  height: 500px;
  position: relative;
}

.koi-enso-1 img {
  width: 500px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.koi-enso-2 img {
  width: 500px;
  position: absolute;
  left: 600px;
  bottom: 0px;
}

.bubble-koi {
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 900px;
  height: 600px;
  position: relative;
}

.bubble-koi img {
	width: 600px;
	position: absolute;
	left: 250px;
}

.koi-in-water {
  display: block;
  margin-top: 300px;
  margin-bottom: 100px;
  width: 900px;
  height: 600px;
  position: relative;
}

.koi-in-water img {
	width: 500px;
	position: absolute;
	left: 300px;
}

.ginko-leaf {
  display: block;
  margin-top: 375px;
  margin-bottom: 20px;
  width: 900px;
  height: 500px;
  position: relative;
}

.ginko-leaf-1 img {
  width: 500px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.ginko-leaves img {
  width: 500px;
  position: absolute;
  left: 600px;
  bottom: 0px;
}

.watercolor {
  display: block;
  margin-top: 300px;
  margin-bottom: 20px;
  width: 900px;
  height: 500px;
  position: relative;
}

.watercolor-helmet img {
  width: 500px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.malaysian-house img {
  width: 500px;
  position: absolute;
  left: 600px;
  bottom: 0px;
}

.ink {
  display: block;
  margin-top: 200px;
  margin-bottom: 20px;
  width: 900px;
  height: 500px;
  position: relative;
}

.ink-face img {
  width: 500px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.eiffel-tower img {
  width: 500px;
  position: absolute;
  left: 600px;
  bottom: 0px;
}


.blots {
  display: block;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 900px;
  height: 500px;
  position: relative;
}

.blot-1 img {
  width: 500px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.blot-2 img {
  width: 500px;
  position: absolute;
  left: 600px;
  bottom: 0px;
}

.leaves {
	width: 1000px;
	margin: 0 auto;
}

.leaves img {
	width: 1000px;
}

