/* Common */

.header {
  width: 100%;
  top: 0px;
  background-color: white;
  z-index: 1; 
  background-color: #93cab9
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #fff;
  margin: 0;
  font-size: 14px;
}

a{
  text-decoration: none;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
  height: 50px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.left-nav {
  height: 50px
  width: 50%;
  background-color: #93cab9;
  padding: 7px;
  margin-right: 7px;
}

.right-nav {
  height: 50px;
  width: 50%;
  background-color: #f38288;
  padding-top: 7px;

}

.logo {
  display: block;
  text-align: left;
  padding-left: 25px;
}

.logo img {
  width: 70px;
}

.navigation ul {
  position: absolute;
  right: 0px;
  padding-right: 25px;
  display: flex;
  padding-top: 10px;
  width: 220px;
}

.navigation a {
  color: white; 
}

.navigation a:hover {
  color: #58c6c7;
} 

.navigation li {
  margin: 0px;
  margin-left: 20px;
}

.navigation ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.naviagation li{
  margin: 0px 50px;
  line-height: 135%;
}

.body {
  margin: 20px;
  line-height: 135%;
  font-family: 'Droid Serif', serif;
}

ul.indent{
  list-style-type: circle;
}

/* main site navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
  height: 100px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.main-logo {
  display: block;
  text-align: left;
  padding-left: 25px;
}

.main-logo img {
  width: 70px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.main-navigation ul {
  position: absolute;
  right: 0px;
  display: flex;
  width: 220px;
}

.main-navigation a {
  color: white; 
}

.main-navigation a:hover {
  color: #f38288;
} 

.main-navigation li {
  margin: 0px;
  margin-left: 20px;
}

.main-navigation ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.main-naviagation li{
  margin: 0px 50px;
  line-height: 135%;
}

/* Common Footer */

footer {
  height: 90px;
  width: 100%;
  background-color: #faa077;
  color: white;
  display: flex;
  justify-content: space-between;
}

.left-footer {
  display; flex;
  text-align: left;
  width: 700px;
  font-size: 12px;
  margin: 25px 24px;
}

.left-footer ul {
  display: flex;
  margin-bottom: 10px;
}

.left-footer li{
  margin: 0px 5px;
  line-height: 135%;
}

.left-footer a {
  color: white;
}

.social-links{
  font-size: 12px;
  margin: 25px 24px;
  width: 181px;
  text-align: right;
}

.social-icon{
  width: 20px;
  margin-left: 10px;
}

.copyright{
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Homepage */

.bio-section{
  width: 100%;
  height: 400px;
  background: #93cab9;
  display: flex;
  align-content: space-around;
  justify-content: center
  box-shadow: 3px solid #ffb7bf;;
}

.homepage-title-left {
  width: 50%;
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.homepage-title-left h1 {
  margin: auto;
  margin-right: 0px;
  width: 55%;
  font-size: 24px;
  color: #179c9d;
  padding: 20px 0px 10px 0px;
  border-bottom: 3px solid #179c9d;
}

.homepage-title-left h2 {
  margin: auto;
  margin-right: 25px;
  width: 47%;
  font-size: 16px;
  padding: 25px 0px;
  color: white;
}

.homepage-title-left a {
  display: block;
  width: 20%;
  margin: 20px auto;
  padding: 7px 15px;
  margin-right: 17%;
  border-radius: 50px;
  vertical-align: middle;
  background: #fcd0b0;
  color: white;
}

.light-blue {
  width: 35%;
  height: 36px;
  border-bottom: 4px solid #58c6c7;
  border-right: 4px solid #58c6c7;
  position: absolute;
  left: 0px;
  top: 361px;
}

.blue {
  width: 35.3%;
  height: 40px;
  border-bottom: 4px solid #179c9d;
  border-right: 4px solid #179c9d;
  position: absolute;
  left: 0px;
  top: 361px;
}

.pink {
  width: 36.3%;
  height: 40px;
  border-top: 4px solid #ffb7bf;
  border-left: 4px solid #ffb7bf;
  position: absolute;
  right: 0px;
  top: 66px;
}

.orange {
  width: 36%;
  height: 36px;
  border-top: 4px solid #faa077;
  border-left: 4px solid #faa077;
  position: absolute;
  right: 0px;
  top: 70px;
}

.homepage-title-right {
  width: 50%;
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #f38288;
}

.homepage-title-right h1 {
  margin: auto;
  margin-left: 0px;
  width: 55%;
  font-size: 24px;
  color: #fcd0b0;
  padding: 20px 0px 10px 0px;
  border-bottom: 3px solid #fcd0b0;
}

.homepage-title-right h2 {
  margin: auto;
  margin-left: 20px;
  width: 47%;
  font-size: 16px;
  padding: 25px 0px;
  color: white;
}

.homepage-title-right a {
  display: block;
  width: 20%;
  margin: 20px auto;
  margin-left: 17%;
  padding: 7px 15px;
  border-radius: 50px;
  vertical-align: middle;
  background: #58c6c7;
  color: white;
}

.designer-xp {
  display: block;
  max-width: 1000px;
  height: 420px;
  color: #6b6b6b;
  position: relative;
  margin: 0px auto;
}

.designer-xp h2 {
  margin: 25px 0px;
  font-size: 24px;
  text-align: center;
}

.designer-xp-social {
  display: flex;
  flex-direction: column;
}

.designer-xp img {
  position: absolute;
  margin: 0% auto;
  width: 30%;
  padding-left: 30px;
  }

.social-in img {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 100px;
  top: 100px;
}

.bio {
  position: absolute;
  left: 40%;
  line-height: 1.4em;
  max-width: 700px;
}

.bio p {
  width: 90%;
  font-size: 14px;
}

.designer-xp a {
  color: #f38288;
}

/* Design Pages */

.label-left{
  width: 350px;
  float:left;
  margin: 10px 50px;
}

.label-right{
  width: 350px;
  float:right;
  margin: 10px 50px;
}

.text-left{
  text-align: center;
  line-height: 125%;
  font-family: 'Droid Serif', serif;
}

.text-right{
  text-align: center;
  margin-bottom: 20px;
}

/* Design Pages */


/* Credo Page */

.credo-image {
  display: block;
  margin: 0 auto;
  width: 700px;
}

.credo-body-image {
  display: block;
  margin: 10px auto;
  width: 800px;
}


/* elf Page */

.elf-image {
  display: block;
  margin: 0 auto;
  width: 700px;
}

.elf-image1 {
  display: block;
  margin: 10px auto;
  width: 250px;
}

.elf-image2 {
  display: block;
  margin: 10px auto;
  width: 550px;
}


/* Clayton Blog */

.claytonblog-image3 {
  display: block;
  margin: 0 auto;
  width: 800px;
}

.claytonblog-image4 {
  display: block;
  margin: 0 auto;
}

.claytonblog-image5 {
  width: 450px;
  margin: 0 auto;
  display: block;
}

.claytonblog-image6 {
  width: 425px;
  margin: 0 auto;
  display: block;
}

/* Clayton Mobile */

.claytonmobile-image2 {
  display: block;
  margin: 0 auto;
  width: 550px;
}

.claytonmobile-image {
  display:block;
  margin: 0 auto;
  width: 250px;
}


/* Content Pages */

.links {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.links a {
  text-align: center;
  color: #f34945;
}

.claytonlp-images {
  text-align: center;
  width: 650px;
  margin: 0 auto;
}

.claytonlp-images img {
  width: 600px;
  margin-bottom: 10px;
}

.graphic-image img {
  width: 300px;
  margin: 10px 20px 10px 20px;
}

.graphic-image {
  max-width: 700px;
  margin: 0 auto;
}

/* About Page

.text {
  margin: 0px auto;
  margin-top: 75px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  font-family: 'Lato', sans-serif;
}

.text h3 {
  font-size: 50px;
  color: #f34945;
}

.text h1 {
  color: #f34945;
}

.main {
  margin: 0 auto;
  background-color: #fff;
  width: 500px;
  position: relative;
  margin-bottom: 250px;
  text-align: center;
}


.about {
  max-width: 900px;
  margin: 50px auto;
}

.title {
  text-align: center;
  margin-top: 100px;
}



.bio {
  display: block;
  float:right;
  text-align: left;
  line-height: 1.25;
  width: 500px;
  font-family: 'Droid Serif', serif;
  font-size: 12pt;
}

*/
  color: #f34945;
}
